
.options {
    display: inline-block;
    width: 1000px;
    height: 25px;
    margin: 15px auto;
    background-color: #CDCDCD;
    padding-top: 5px;
    text-align: center;
    border-radius: 26px;
    margin-left: 120px;
}

#reset_button {
  `
}
#fader_button {
  
}
#newGrid {
  
}

.wrapper {
    width: 1000px;
    margin: 15px auto;
    overflow: auto;
}

.square {
    float: left;
    background-color: black;
    display: inline-block;
}